*{
    margin: 0;
    padding: 0;
    border: 0;
}

*,*::before, *::after{
    box-sizing: border-box;
}

a{text-decoration: none;}

ul,ol,li{list-style: none;}

img{vertical-align: top;}

nav, footer, header, aside{display:block}

h1, h2,h3,h4,h5,h6{
    font-weight: inherit;
    font-size: inherit;
}

html,body{
    height: 100%;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat;
    color: black;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0px auto;
    box-sizing: content-box;
    padding: 0px 30px;
}

._ibg{
    position: relative;
}

._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
/* ////////////////////////////////////////////////шапка /////////////////////////////////////////////////*/

.header{
 position: absolute;
 width: 100%;
 left: 0;
 top: 0;
 z-index: 50;
}

.header__container{
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media (max-width: 479px){
    .header__container{
        min-height: 70px;
    }
}

.header__logo{
    color: inherit;
    font-size: 24px;
    font-weight: 700;

}

.header__menu{
    margin: 0px 0px 0px 135px;
}

@media (max-width: 992px){
    .header__menu {
        margin: 0px 0px 0px 80px;
    }
} 
    
@media (max-width: 767px){
    .header__menu {
        margin: 0px 0px 0px 40px;
    }
}

@media (max-width: 479px){
    .header__menu {
        margin: 0px 0px 0px 20px;
    }
}
@media (max-width: 320px){
    .header__menu {
        font-size: 14px;
    }
}    
.menu{
 padding-top: 5px;
}

.menu__list{
    display: flex;
    flex-wrap: wrap;
}

.menu__item{
}
.menu__item:not(:last-child){
    margin: 0px 21px 0px 0px;
}

.menu_link{
    color:#737373;
    font-weight: 600;
    line-height: 24px;
    transition: 0.3s all ease 0s;
    font-size: 18px;
}
.menu_link:hover{
    color: #ff7b47;
}
/* .................page............................... */
.page{
    flex: 1 1 auto;
}

.page__main-block{

}

.page__services{
    margin: -111px 0px 0px 0px;
    position: relative;
    z-index: 2;
}
.page__advantages {
    
}
.page__practice {

}
.page__whoweare {

}
.page__clients:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.page__subscribe {

}
.page__getintouch {
}
.page__contact {
}
/* .................header-block.............................. */
.header-block {
    text-align: center;
    letter-spacing: 0.2px;
}
.header-block__title {
    font-size: 40px;
    line-height: 142%;
    font-weight: 700;
}
.header-block__title:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
    color: #737373;
}
@media(max-width: 992px){
    .header-block__title {
        font-size: 35px;
    }
}
@media(max-width: 767px){
    .header-block__title {
        font-size: 30px;
    }
}
/* .................main block............................... */


.main-block{
    position: relative;
}

.main-block__container{

}

._container{

}

.main-block__body{
    padding: 184px 0px 191px 0px;
    position: relative;
    z-index: 2;
    max-width: 400px;
}
@media(max-width: 992px){
    .main-block__body{
        padding: 120px 0px 191px 0px;
    }
}
@media(max-width: 479px){
    .main-block__body{
        padding: 115px 0px 140px 0px;
    }
}
.main-block__body > *:not(:last-child){
    margin: 0px 0px 35px 0px;
}

.main-block__title{
    font-size: 58px;
    line-height: 137%;
    font-weight: 700;
    letter-spacing: 0.2px;
}
@media (max-width: 479px){
    .main-block__title{
        font-size: 42px;
    }
}

.main-block__text{
    color: #737373;
    font-size: 20px;
    line-height: 150%;
}
@media(max-width: 479px){
    .main-block__text{
        color: #505050;
    }
}

.main-block__buttons{
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0px;
}

.main-block__button{
    border-radius: 37px;
    display: flex;
    min-height: 48px;
    justify-content: center;
    align-items: center;
    padding: 0px 36px;
    letter-spacing: 0.2px;
    font-weight: 700px;
    line-height: 150%;
    text-align: center;
    margin: 10px 0;
}
@media (max-width: 479px){
    .main-block__button{
      flex: 1 1 100%;  
    }
}
@media (min-width: 479px){
    .main-block__button:not(:last-child){
        margin-right: 10px;
    }
}   

.main-block__button_orange{
    background: #FF7B47;
    color: white;
    transition: 0.2s all ease 0s;
    border: 1px solid #FF7B47;
}
.main-block__button_orange:hover{
    background: #ffffff;
    color: #FF7B47;
}
.main-block__button_border{
    color: #0D5C63;
    border: 1px solid #0D5C63;
    font-weight: 700;
    font-size: 14px;
    transition: 0.2s all ease 0s;
}
.main-block__button_border:hover{
    background-color: #0D5C63;
    color:#fff
}
.main-block__image{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media (max-width: 1300px) {
    .main-block__image img{
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__image img{
        opacity: 0.5;
    }
}
/* .................services................................... */
.services{

}

.services__container{

}

.services__body{
 
}

.services__column{
    flex: 0 1 33.333%;
}


@media(min-width: 670px){
    .services__column{
        padding: 0px 15px;
    }
}
@media(max-width: 992px){
    .services__column{
        flex: 0 1 50%;
    }
    .services__column:not(:last-child){
        margin: 0px 0px 30px 0px;
    }
    .services__column:last-child{
        flex: 1 1 100%;
    }
}


@media(min-width: 670px){
    .services__body{
        display: flex;
        margin: 0px -15px;
        flex-wrap: wrap;
    }
}
@media(min-width: 479px){
    .services__item{
        padding: 25px;
    }
}   


.services__item{
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: white;
    padding: 35px;
    height: 100%;
}

.item-service{

}
.item-service__green{
   background-color: #0D5C63;
}
.item-service__green .item-service__title{
    color: white;
}
.item-service__green .item-service__text{
    color: white;
}
.item-service__green{

}

.item-service > *:not(:last-child){
    margin: 0px 0px 10px 0px ;
}

.item-service__title{
    font-size: 24px;
    letter-spacing: 0.1px;
    font-weight: 650;
    line-height: 133%;
}

.item-service__text{
    color: #737373;
    line-height: 142%;
}

/* .......................advantages.................................................. */
.advantages {
    padding: 80px 0px;
}
@media(max-width: 992px){
    .advantages{
        padding: 50px 0px;
    }
}
@media(max-width: 767px){
    .advantages{
        padding: 30px 0px;
    }
}
.advantages__container {

}
.advantages__header {
    margin: 0px 0px 50px 0px;
}
@media(max-width: 767px){
    .advantages__header{
        margin: 0px 0px 25px 0px; 
    }
}
.advantages__body {
    display: flex;
    margin: 0px -15px -30px;
    flex-wrap: wrap;
}
.advantages__column {
    padding: 0px 15px;
    margin: 0px 0px 30px 0px;
    flex: 0 1 25%;
}
@media(max-width: 1020px){
    .advantages__column{
        flex: 0 1 50%;
    }
}
@media(max-width: 560px){
    .advantages__column{
        flex: 0 1 100%;
    }
}

.advantages__item {
    background-color: #fff;
    padding: 30px;
    text-align: center;
    font-weight: 600;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.advantages__item >*:not(:last-child){
    margin: 0px 0px 10px 0px;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value {
    font-size: 40px;
    line-height: 142%;
}
.advantages_text {
    color: #737373;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}

/* .....................practice........................................................ */
.practice {
    padding: 125px 0px 80px 0px;
}
@media(max-width: 993px){
    .practice{
        padding: 80px 0px 80px 0px;
    }
}
@media(max-width: 767px){
    .practice{
        padding: 40px 0px 40px 0px;
    }
}
.practice__container {

}
.practice__header {
    margin: 0px 0px 45px 0px;
}
@media(max-width: 767px){
    .practice__header{
        padding: 0px 0px 25px 0px;
    }
}
.practice__body {
    margin: 0px -20px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0px 20px;
    flex: 0 1 25%;
    margin: 0px 0px 30px 0px;
}
@media(max-width: 1040px){
    .practice__column {
        flex: 0 1 50%;
    }
}
@media(max-width: 630px){
    .practice__column {
        flex: 0 1 100%;
    }
}

.practice__item {
 
}
.item-practice {
    background-color: #fff;
    box-shadow: 13px 19px 13px 19px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    height: 100%;
}
.item-practice__content{
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link {
    color: inherit;
    display: inline-block;
}
.item-practice__link:hover{
    text-decoration: underline;
}
.item-practice__link:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-practice__title {
    letter-spacing: 0.1px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
}
.item-practice__text {
    color: #737373;
    line-height: 142%;
}
.item-practice__image {
    display: block;
    padding: 0px 0px 60% 0px;
}
/* ............whoweare................................................... */
.whoweare {
    padding: 80px 0px 130px 0px;
}
.whoweare__container {

}
.whoweare__header{
    margin: 0px 0px 100px 0px;
}
.whoweare__body {
    display: flex;
    align-items: flex-start;
}
.whoweare__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}
.whoweare__video iframe{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0; 
   object-fit: cover;
}
.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 121px;
}

.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
}
.whoweare__title:not(:last-child){
    margin: 0px 0px 10px 0px;
}
.whoweare__text {
    color: #737373;
    line-height: 142%;
}
.whoweare__top:not(:last-child){
    margin: 0px 0px 50px 0px;
}
.whoweare__items {

}
.whoweare_item {

}
.whoweare_item:not(:last-child) {
    margin: 0px 0px 30px 0px;
}

.item-whoweare {
    display: flex;
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-whoweare__title:not(:last-child){
    margin: 0px 0px 5px 0px;
}
.item-whoweare__text {
    color: #737373;
    white-space: nowrap;
    line-height: 142%;
    text-overflow: ellipsis;
}
@media (max-width: 1080px){
    .whoweare__content {
        padding: 0px 0px 0px 50px;
    }
}
@media (max-width: 950px){
    .whoweare__title{
        font-size: 24px;
    }
    .whoweare__content {
        padding: 0px 0px 0px 0px;
    }
    .whoweare__header{
        margin: 0px 0px 30px 0px;
    }
    .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__video{
        padding: 0px 0px 56.25% 0px;
    }
    .whoweare__video:not(:last-child){
        margin: 50px 0px 50px 0px;
    }
    .whoweare{
        padding: 50px 0px 50px 0px;
    }
}
@media (max-width: 767px){
    .whoweare{
        padding: 20px 0px 50px 0px;
    }
    .whoweare__video:not(:last-child){
        margin:30px 0px 0px 0px;
    }
    .whoweare__top:not(:last-child){
        margin: 0px 0px 30px 0px;
    }
}
/* .............clients............................... */
.clients {
    padding: 50px 0px;
}
@media (max-width: 767px){
    .clients {
        padding: 30px 0px;
    }
}
.clients__container {

}
.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.clients_item {
    padding: 8px 15px;
    flex: 0 1 16.6667%;
    text-align: center;
    min-width: 140px;
}
.clients_item img{
    max-width: 100%;
}
/* ............subscribe...................................... */
.subscribe {
    position: relative;
    padding: 0px 0px 20px 0px;
}
.subscribe::before{
    content: "";
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 77px;
    left: 0;
    background: #131b31;
}
.subscribe__container {

}
.subscribe__body {
    position: relative;
    z-index: 2;
    padding: 30px 50px ;
    align-items: center;
    background: #17213C;
    border-radius: 2px;
}
@media (min-width: 1070px){
    .subscribe__body{
        margin: 0px 30px;
    }
}
@media (min-width: 810px){
    .subscribe__body{
        display: flex;
        justify-content: space-between;
    }
}
.subscribe__title {
    font-weight: 700;
    font-size: 133%;
    color: #fff;
    line-height: 32px;
    letter-spacing: 0.1px;
}
@media (max-width: 810px){
    .subscribe__title{
        margin: 0px 0px 20px 0px;
    }
    .subscribe__body{
        margin: 0px -35px;
        padding: 20px 15px;
    }
    .subscribe__title{
        max-width: 266px;
    }
}
.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__input {
    flex: 1 1 auto;
    width: 100%;
    min-height: 58px;
    padding: 0px 20px;
    color: #737373;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-right: 0px;
    border-radius: 5px 0px px 5px;
}
.subscribe__input:focus{
    color: black;
}
.subscribe__button {
    background: #FF7B47;
    border: 1px solid #E6E6E6;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    min-height: 58px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#fff;
    padding: 0px 22px;
    transition: 0.3s all ease 0s;
}
.subscribe__button:hover{
    background-color: #fff;
    color: #ff7b47;
    border: 1px solid #ff7b47;
    cursor: pointer;
    font-size: 14px;
}
@media (max-width: 810px){
    .subscribe__button{
        padding: 0px 15px;
    }
}
/* ...........getintouch.................................. */
.getintouch {
    padding: 80px 0px 135px 0px;     
}
.getintouch__container {
}
.getintouch__header {
    margin: 0px 0px 80px 0px;
}
.getintouch__items {
    margin: 0px -15px;
}
@media(min-width: 992px){
    .getintouch__items {
        display: flex;
        margin: 0px;
        align-items: center;
    }
}
@media(max-width: 992px){
    .getintouch__header {
        margin: 0px 0px 50px 0px;
    }
    .getintouch {
        padding: 50px 0px
    }
}
@media(max-width: 767px){
    .getintouch__header {
        margin: 0px 0px 30px 0px;
    }
    .item-getintouch_active{
        padding: 50px 15px;
    }
}
.getintouch_item {
    flex: 0 1 33.333%;
    box-shadow: 13px 19px 13px 19px rgba(0, 0, 0, 0.07);
}
.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;
}
.item-getintouch_active{
    background-color: #252B42;
    color: #fff;
    padding: 80px 15px;
}
.item-getintouch__button .item-getintouch_active{
    border: 1px solid #FFFFFF;
    color: rgb(255, 255, 255);
}

.item-getintouch> *:not(:last-child){
    margin: 0px 0px 15px 0px;
}
.item-getintouch__icon {

}
.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 150%;
    font-size: 16px;
}
.item-getintouch__email:hover{
    text-decoration: underline;
}
.item-getintouch__label {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}
.item-getintouch__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 142%px;
    border: 1px solid #FF7B47;
    color: #FF7B47;
    border-radius: 5px;
    min-height: 44px;
    padding: 5px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover{
    background-color: #ff7b47;
    border: 1px solid #ff7b47;
    color: #fff;
}
@media(min-width: 992px){
    .getintouch__items {
        display: flex;
        margin: 0px;
        align-items: center;
    }
}
@media(max-width: 992px){
    .getintouch__header {
        margin: 0px 0px 50px 0px;
    }
    .getintouch {
        padding: 50px 0px
    }
    .item-getintouch_active{
        padding: 50px 15px;
    }
}
@media(max-width: 767px){
    .getintouch__header {
        margin: 0px 0px 30px 0px;
    }
}
/* .........contact............................................................. */
.contact{
    background-color: #fff;
    padding: 42px 0px;
    box-shadow: 13px 19px 13px 19px rgba(0, 0, 0, 0.07);
}
.contact__container {
}

.contact__content {
    padding: 0px 0px 20px 0px;
}

@media(min-width: 767px){
    .contact__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact__content {
        padding: 0px 0px 0px 0px;
    }
}
.content__title {
    font-weight: 700;
    letter-spacing: 0.1px;
    font-size: 24px;
    line-height: 133%;
}
.content__title:not(:last-child){
    margin: 0px 0px 10px 0px
}
.content__text {
    color: #737373;
    line-height: 142%;
}
.contact__button {
    display: flex;
    background: #FF7B47;
    border-radius: 5px;
    min-height: 50px;
    padding: 5px 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: 1px solid #FF7B47;
    transition: 0.3s all ease 0s;
}
.contact__button:hover{
    background-color: #ffffff;
    color: #ff7b47;
}
/* ...............footer............................................... */
.footer {

}
.footer__top {
    background: #17213C;
    padding: 35px 0px;
}
.footer__main {
   
}
.footer__row{
    margin: 0px -15px;
    display: flex;
    flex-wrap: wrap;
}
.footer__column:last-child{
    flex: 0 1 33.334%;
}
.footer__column {
    flex: 0 1 16.6667%;
    padding: 15px 15px;
}
@media (min-width: 992px){
    .footer__column{
        flex: 0 1 25%;
    }
    .footer__column:last-child{
        flex: 1 1 100%;
    }
}
@media (min-width: 992px){
    .footer__column{
        flex: 0 1 50%;
    }
}
.footer_label {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    margin: 0px 0px 20px 0px;

}
.footer__menu {

}

.menu-footer {

}
.menu-footer__list {
    font-weight: 100;
}
.menu-footer__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.menu-footer__link {
    color: #fff;
    letter-spacing: 0.2px;
    transition: 0.2s all ease 0s;
    line-height: 171%;
    display: inline-block;
}
.menu-footer__link:hover{
    color: #ff7b47; 
 }
.footer__contacts {

}
.contacts-footer {
    display: flex;
    flex-direction: column;
}
.contacts-footer__item{
    padding: 0px 0px 0px 34px;
    line-height: 142%;
    display: flex;
    align-items: center;
    color: #fff;
    min-height: 30px;
    transition: 0.2s all ease 0s;
}
.contacts-footer__item:hover{
   color: #ff7b47; 
}
.contacts-footer__item:not(:last-child) {
    margin: 0px 0px 12px 0px;
}
.contacts-footer__item_phone {
    background: url(./img/footer/icons/01.svg)0 0 no-repeat;
}
.contacts-footer__item_map {
    background: url(./img/footer/icons/02.svg) 0 0 no-repeat;
}
.contacts-footer__item_email {
    background: url(./img/footer/icons/03.svg) 0 0 no-repeat;
}
.footer__bottom {
    padding: 25px 0px;
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__copy {
    color: #737373;
    line-height: 171%;
}
.footer__social {

}

.social {
    display: flex;
    align-items: center;
}
.social-item:not(:last-child) {
    margin: 0px 20px 0px 0px;
}   
@media (max-width: 767px){
    .footer__container{
        flex-direction: column;
    }
    .footer__copy{
        margin: 0px 0px 15px 0px;
        text-align: center;
    }
}